/*? global clearing */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --gap: 38rem;
}

.img-testi {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
}

.content-wrap {
  max-width: 900px;
  width: 100%;
  margin: 5rem auto;
  display: flex;
  justify-content: space-evenly;
}

.content-wrap img {
  height: 500px;
  width: 90px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 1rem;
  flex: 1;
  transition: all 500ms ease-in-out;
}

.content-wrap > :not(img:nth-child(1), img:nth-child(6)) {
  height: 400px;
}

.content-wrap > img:nth-child(2),
.content-wrap > img:nth-child(5) {
  align-self: center;
}
.content-wrap > img:nth-child(3),
.content-wrap > img:nth-child(4) {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.content-wrap > :not(img:hover) {
  filter: grayscale(10);
  flex: 0;
}

.logo {
  gap: 2rem;
  position: relative;
}

.logo:nth-child(1) img {
  animation: translateInfinteLeft 15s linear infinite;
}

@keyframes translateInfinteLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 59rem));
  }
}

.logo:nth-child(2) img {
  animation: translateInfinteRight 15s linear infinite;
}

@keyframes translateInfinteRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(100% + 59rem));
  }
}

.animate {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5%) rotate(180deg);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(10%) rotate(180deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media (max-width: 870px) {
  .navMenu {
    transform: translateY(-450px);
  }
  .navMenu.active {
    transform: translateY(0px);
  }

  .menuHamburger.active {
    display: none;
  }

  .menuHamburger.active ~ .menuCloseHamburger {
    display: block;
  }

  .content-wrap {
    padding: 0 1rem;
  }

  .content-wrap img {
    width: 60px;
    height: 400px;
    flex: 1;
  }

  .content-wrap > :not(img:nth-child(1), img:nth-child(6)) {
    height: 300px;
  }

  .content-wrap > img:nth-child(2),
  .content-wrap > img:nth-child(5) {
    align-self: center;
  }
  .content-wrap > img:nth-child(3),
  .content-wrap > img:nth-child(4) {
    align-self: flex-end;
    margin-bottom: 1rem;
  }

  .content-wrap > :not(img:hover) {
    filter: grayscale(10);
    flex: 0;
  }
  .showProduct {
    padding-inline: 1rem;
  }
  .populer-product {
    padding-inline: 1rem;
  }

  .populer-product::-webkit-scrollbar-track {
    background: #202020;
    border-radius: 10px;
    margin-left: 1rem;
  }
}
